.DS_Store
curl/clone/*
curl/source/
curl/src/
mercure/data/*
mercure/config/*
pg/
php/clone/*
php/source/
php/src/
php/install-php-extensions
portainer/
postgres13/
postgres14/
postgres15/
postgres16/
postgres17/
traefik/log/
!curl/clone/*.txt
!curl/clone/.gitignore
!php/clone/*.txt
!php/clone/.gitignore
